<h2>Tamap</h2>
<div id='map'></div>

<style>
  #map{
    height: 800px;
  }
</style>

<script>
    function initMap(){
        let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.658333, lng: 139.701697},
            zoom: 12
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwmzwKVX6bUpitFjKc9usUAdLErUASpb4&callback=initMap" async defer></script>